.searchbox-container {
  z-index: 3000;
  width: 330px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 60px;
}
.searchbox-container .searchbox {
  height: 48px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  gap: 20px;
  font-size: 14px;
  border-radius: 0;
  position: relative;
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
  z-index: inherit;
}
.searchbox-container .searchbox i {
  font-size: 22px;
  color: #000;
  transition: 0.5s;
}
.searchbox-container .searchbox input {
  width: 230px;
  border: none;
  height: 100%;
}
.searchbox-container .searchbox input:focus {
  outline: none;
}

.searchbox-container .searchbox .divider {
  height: 65%;
  border-left: 1px solid #ddd;
}
.searchbox-container .searchbox button {
  height: 100%;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: inherit;
  border: none;
}

.searchbox-container .searchbox button i.active,
.searchbox-container .searchbox .bx-spin {
  color: #0084ff;
}

.searchbox-container ul {
  list-style: none;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  font-size: 15px;
  overflow: hidden;
  width: 100%;
}
.searchbox-container ul li {
  padding: 12px 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
  color: #333;
  transition: 0.5s;
}
.searchbox-container ul li:hover {
  background: #eee;
}
.searchbox-container ul li i {
  font-size: 18px;
  color: #aaa;
}
